@page
@model LoginModel



@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <div class="container_login">
        <div class="login_area">
           
            <form method="post">
                <div asp-validation-summary="All" class="text_information"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" type="text" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" type="password" placeholder="Password"/>
                </div>


                <input type="submit" value="Login">


            </form>


            <div class="link_registration">
                <span>New Member?</span>
                <a asp-page="Register">Sign up now</a>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}