.deleteItem_headline{
    width: 100%;
    margin-top:20px;
    display: flex;
    justify-content: center;
}
.deleteItem_headline p{
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    color: #F2286D;
}

.buttons_container{
    width: 100%;
    margin-bottom: 100px;
    display:flex;
    justify-content: center;
}

.buttons_box{
    display:flex;
    justify-content: center;
}

.buttons_box form{
    flex-direction: row;
    margin:0;
}

.delete_button
{
    background-color: #F2286D;
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    padding: 1rem 5rem;
    font-size: 16px;
    cursor: pointer;
    color: #F1F3F8;
}

.index_button{
    border: 1px solid #ddd;
    border-radius: 20px;
    text-align: center;
    padding: 0.9rem 5rem;
    font-size: 16px;
    cursor: pointer;
    color: #F1F3F8;
    background-color: #4AD188;
    margin-left:20px;
}

@media only screen and (max-width: 600px) {
    .deleteItem_headline p{
        font-size: 23px;
    }

    .buttons_box form {
        flex-direction: column;
    }
    
    .delete_button{
        margin-bottom: 20px;
    }

    .index_button{
        margin: 0;
    }
    .buttons_box{
        display:block;
    }
}

@media only screen and (max-width: 260px) {
    .delete_button{
        padding: 1rem 3rem;
    }

    .index_button{
        padding: 0.9rem 3rem;
    }
}